<div id="container row-fluid show-grid"> 
  <div id="whale-container" class="span5">
    <%= image_tag "whale.png", :id => "whale-img" %>
  </div>

  <div id="song-container" class="span7">
    <%= image_tag "album.png", :id => "album" %>

  <ul id="songs">
    <li>
      <%= link_to image_tag("play_button_black.png", :class => "play", :id => "1"),
          "#", :class => "song", :data => {:track => "1",
                                           :song => "/assets/songs/Frog_Pie.mp3"} %>

      <%= link_to image_tag("download.png", :class => "download"), {:controller => "welcome", :action => "download", :song_name => "Frog_Pie" }%>

      <%= link_to image_tag("frog_pie.png", :class => "songname", :id => "1"),
          "#", :class => "song", :data => {:track => "1",
                                           :song => "/assets/songs/Frog_Pie.mp3"} %>
    </li>
    <li>
      <%= link_to image_tag("play_button_black.png", :class => "play", :id => "2"),
          "#", :class => "song", :data => {:track => "2",
                                           :song => "/assets/songs/I_Know_This_Is_Selfish_But.mp3"} %>

      <%= link_to image_tag("download.png", :class => "download"), {:controller => "welcome", :action => "download", :song_name => "I_Know_This_Is_Selfish_But" }%>

      <%= link_to image_tag("selfish.png", :class => "songname", :id => "2"),
          "#", :class => "song", :data => {:track => "2",
                                           :song => "/assets/songs/I_Know_This_Is_Selfish_But.mp3"} %>
    </li>
    <li>
      <%= link_to image_tag("play_button_black.png", :class => "play", :id => "3"),
          "#", :class => "song", :data => {:track => "3",
                                           :song => "/assets/songs/Your_Recollection_Not_Mine.mp3"} %>

      <%= link_to image_tag("download.png", :class => "download"), {:controller => "welcome", :action => "download", :song_name => "Your_Recollection_Not_Mine" }%>

      <%= link_to image_tag("recollection.png", :class => "songname", :id => "3"),
          "#", :class => "song", :data => {:track => "3",
                                           :song => "/assets/songs/Your_Recollection_Not_Mine.mp3"} %>
    </li>
    <li>
      <%= link_to image_tag("play_button_black.png", :class => "play", :id => "4"),
          "#", :class => "song", :data => {
                                          :track => "4",
                                          :song => "/assets/songs/Formal_Leftovers.mp3"} %>

      <%= link_to image_tag("download.png", :class => "download"), {:controller => "welcome", :action => "download", :song_name => "Formal_Leftovers" }%>

      <%= link_to image_tag("formal_leftovers.png", :class => "songname", :id => "4"),
          "#", :class => "song", :data => {
                                          :track => "4",
                                          :song => "/assets/songs/Formal_Leftovers.mp3",
                                          :title => "Phoney Phranchise"} %>
    </li>
  </ul>
  </div>
<!--   <div id="footer">
    <%#= image_tag "credits.png", :id =>"credits" %>
  </div> -->
</div>

  <audio id="player" class="mp3player" width="300" height="32" src="" controls="controls" data-current="" preload="auto" autoplay="false" autobuffer=""></audio>
