<div id="container"> 
  <div id="whale-container">
    <%= image_tag "whale.png", :id => "whale-img" %>
  </div>

  <div id="song-container">
    <%= image_tag "album.png", :width => "550px", :id => "album" %>

  <ul id="songs">
    <li>
      <a class="song" data-track="1" data-song="https://s3.amazonaws.com/personalsitesongs/01+A+Song+For+Our+Fathers.mp3" data-title="A Song For Our Fathers">
      <%= image_tag "play_button_black.png", :id => "1" %>
      <%= image_tag "download.png" %>
      <%= image_tag "frog_pie.png", :class => "songname" %>
      </a>
    </li>
    <li>
      <a class="song" data-track="2" data-song="https://s3.amazonaws.com/personalsitesongs/03+Tribulations.mp3" data-title="Tribulations">
      <%= image_tag "play_button_black.png", :id => "2" %>
      <%= image_tag "selfish.png", :class => "songname" %>
      </a>
    </li>
    <li>
      <a class="song" data-track="3" data-song="https://s3.amazonaws.com/personalsitesongs/05+Phoney+Phranchise+(Domino+Remix).mp3" data-title="Phoney Phranchise">
        <%= image_tag "play_button_black.png", :id => "3" %>
        <%= image_tag "recollection.png", :class => "songname" %>
      </a>
    </li>
    <li>
      <a class="song" data-track="4" data-song="https://s3.amazonaws.com/personalsitesongs/05+Phoney+Phranchise+(Domino+Remix).mp3" data-title="Phoney Phranchise">
        <%= image_tag "play_button_black.png", :id => "4" %>
        <%= image_tag "formal_leftovers.png", :class => "songname" %>
      </a>
    </li>
  </ul>
  </div>
  <div id="footer">
    <%= image_tag "credits.png", :id => "credits" %>
  </div>
</div>

  <audio class="mp3player" width="300" height="32" src="" controls="controls" data-current="" preload="auto" autoplay="false" autobuffer=""></audio>

<!-- <button onclick="document.getElementById('player').play()">Play</button>
 -->
<%#= link_to 'https://s3.amazonaws.com/personalsitesongs/03+Tribulations.mp3', :action => :download %>
